# CSC 6585 Homework 8

This notebook will be used to complete homework 8.

## Homework 8 Data

The below code is from the dataset given.

In [3]:
# This code is from hw8data.py 

from typing import List

# Dataset; sensitive column is the last column.
DATASET: List[List[str]] = [
    # name, age, sex, city, state, country, icd10
    ["Kim Deal", 63, "female", "Dayton", "Ohio", "USA", "J64"],
    ["Gaye Advert", 68, "female", "Bideford", "Devon", "UK", "J60"],
    ["Cait O’Riordan", 59, "female", "Lagos City", "Lagos", "Nigeria", "J62"],
    ["Michele Temple", 65, "female", "Van Wert", "Ohio", "USA", "J63"],
    ["Sara Lee", 69, "female", "", "West Midlands", "UK", "J62"],
    ["Gail Greenwood", 64, "female", "Providence", "Rhode Island", "USA", "J61"],
    ["Enid Williams", 64, "female", "City of London", "London", "UK", "J67"],
    ["Abby Travis", 54, "female", "Los Angeles", "California", "USA", "J70"],
    ["Juliana Hatfield", 57, "female", "Wiscasset", "Maine", "USA", "J68"],
    ["Carol Kaye", 89, "female", "Everett", "Washington", "USA", "J62"],
    ["William Earl Collins", 72, "male", "Cincinnatti", "Ohio", "USA", "J62"],
    ["Larry Graham", 78, "male", "Beaumont", "Texas", "USA", "J63"],
    ["Jaco Pastorius", 72, "male", "Norristown", "Pennsylvania", "USA", "J62"],
    ["Ronald Carter", 87, "male", "Ferndale", "Michigan", "USA", "J67"],
    ["Philip Lesh", 84, "male", "Berkeley", "California", "USA", "J62"],
    ["Stanley Clarke", 73, "male", "Philadelphia", "Pennsylvania", "USA", "J62"],
    ["John Paul Jones", 78, "male", "Sidcup", "Kent", "UK", "J63"],
    ["Verdine White", 73, "male", "Chicago", "Illinois", "USA", "J62"],
    ["Geezer Butler", 75, "male", "Birmingham", "West Midlands", "UK", "J62"],
    ["Michael Peter Balzary", 62, "male", "Melbourne", "Victoria", "Australia", "J62"],
]

We use the above code in the solution below.

## My Solution to Homework 8 
### Code

In [4]:
import pandas as pd

# Original dataset
data = [
    # name, age, sex, city, state, country, icd10
    ["Kim Deal", 63, "female", "Dayton", "Ohio", "USA", "J64"],
    ["Gaye Advert", 68, "female", "Bideford", "Devon", "UK", "J60"],
    ["Cait O’Riordan", 59, "female", "Lagos City", "Lagos", "Nigeria", "J62"],
    ["Michele Temple", 65, "female", "Van Wert", "Ohio", "USA", "J63"],
    ["Sara Lee", 69, "female", "", "West Midlands", "UK", "J62"],
    ["Gail Greenwood", 64, "female", "Providence", "Rhode Island", "USA", "J61"],
    ["Enid Williams", 64, "female", "City of London", "London", "UK", "J67"],
    ["Abby Travis", 54, "female", "Los Angeles", "California", "USA", "J70"],
    ["Juliana Hatfield", 57, "female", "Wiscasset", "Maine", "USA", "J68"],
    ["Carol Kaye", 89, "female", "Everett", "Washington", "USA", "J62"],
    ["William Earl Collins", 72, "male", "Cincinnati", "Ohio", "USA", "J62"],
    ["Larry Graham", 78, "male", "Beaumont", "Texas", "USA", "J63"],
    ["Jaco Pastorius", 72, "male", "Norristown", "Pennsylvania", "USA", "J62"],
    ["Ronald Carter", 87, "male", "Ferndale", "Michigan", "USA", "J67"],
    ["Philip Lesh", 84, "male", "Berkeley", "California", "USA", "J62"],
    ["Stanley Clarke", 73, "male", "Philadelphia", "Pennsylvania", "USA", "J62"],
    ["John Paul Jones", 78, "male", "Sidcup", "Kent", "UK", "J62"],
    ["Verdine White", 73, "male", "Chicago", "Illinois", "USA", "J62"],
    ["Geezer Butler", 75, "male", "Birmingham", "West Midlands", "UK", "J62"],
    ["Michael Peter Balzary", 62, "male", "Melbourne", "Victoria", "Australia", "J62"],
]

# Column names
columns = ['name', 'age', 'sex', 'city', 'state', 'country', 'icd10']

# Create DataFrame
df = pd.DataFrame(data, columns=columns)

# Remove direct identifier 'name'
df = df.drop('name', axis = 1)

# Define age ranges based on sex
def generalize_age(row):
    age = row['age']
    sex = row['sex']
    if sex == 'female':
        if 54 <= age <= 65:
            return '54-65'
        else:
            return '66-89'
    else:  # male
        if 62 <= age <= 75:
            return '62-75'
        else:
            return '76-89'

df['age_range'] = df.apply(generalize_age, axis = 1)

# Remove quasi-identifiers
df = df.drop(['age', 'city', 'state', 'country'], axis=1)

# Reorder columns
df = df[['age_range', 'sex', 'icd10']]

# Verify group sizes for k-anonymity (k=3)
group_sizes = df.groupby(['age_range', 'sex']).size()
print("Group sizes:\n", group_sizes)

# Output the anonymized dataset
print("\nAnonymized Dataset:\n", df)

Group sizes:
 age_range  sex
54-65      female    7
62-75      male      6
66-89      female    3
76-89      male      4
dtype: int64

Anonymized Dataset:
    age_range     sex icd10
0      54-65  female   J64
1      66-89  female   J60
2      54-65  female   J62
3      54-65  female   J63
4      66-89  female   J62
5      54-65  female   J61
6      54-65  female   J67
7      54-65  female   J70
8      54-65  female   J68
9      66-89  female   J62
10     62-75    male   J62
11     76-89    male   J63
12     62-75    male   J62
13     76-89    male   J67
14     76-89    male   J62
15     62-75    male   J62
16     76-89    male   J62
17     62-75    male   J62
18     62-75    male   J62
19     62-75    male   J62

### Additional Remarks

So here is what I did in my Anomymization Approach: 
- I removed the direct identifier which entailed removing the name column. 
- I also used age generalization where the age attribute was generalized into 'age_range' with carefully defined ranges to ensure that each group meets the desired 3-anonymity. 
- I used a quasi-identifier retention so that the sex attribute is retained to preserve data utility. 
- Moreover, no supression is need since all records were included in the anonymized dataset. 

Overall, I believe that this answers the question.